body {
    font-family: Arial, sans-serif;
    background-color: #7740abe6;
    color: #333;
}



h1 {
    color: #bba2cd;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Arial Black', sans-serif;
}
h2 {
    color: #e4d4f4;
    text-align: center;
    margin-top: 10px;
    font-family:'Times New Roman', Times, serif;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 200px;

}


a {
    color: #45096f;
    text-decoration: none;
}


h3 {
    color: #d2a1d2;
    text-align: center;
    margin-top: 20px;
}

h4 {
    color: #d2a1d2;
    text-align: center;
    margin-top: 20px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #c583f4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: center;
}