body{
    font-family: Arial, sans-serif;
    background-color: #F0F8FF;
    color: #333;
}

h1 {
    color: #6a0dad;
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    color: #8f58c3;
    text-align: center;
    margin-top: 30px;
}

h5 {
    text-align: center;
    margin-top: 650px;
    font-size: 10px;
    padding: 6px 8px;
   

}
a {
    color: #45096f;
    text-decoration: none;
}

.container {
  width: 300px;
  margin: 100px auto; /* centraliza na tela */
  padding: 20px;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* espaçamento entre os campos */
}

label {
  font-weight: bold;
  color: #333;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 15px;
  padding: 10px;
  background-color: #b57cf2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  align-self: center; /* centraliza o botão */
}

button:hover {
  background-color: #9a5de0;
}
